/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5dc;
    color: #4b2e1a;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}





.form-container {
    font-family: 'Playfair';
    font:bold;
    width: 90%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-container h2 {
    font-family: 'Playfair';

    font-size: 2em;
    margin-bottom: 20px;
    font:normal;
}

.form-container p {
    font:bold;
    font-family: 'Playfair';
    font-size: 1.2em;
    margin-bottom: 30px;
}

.form-container label {
    display: block;
    margin-top: 10px;
    font-size: 1.1em;
    font-weight: bold;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #d1b28e;
    border-radius: 4px;
    background-color: #f5f5dc;
    font-size: 1em;
}

.form-container input:focus {
    outline: none;
    border-color: #502213;
    box-shadow: 0 0 5px #502213;
}

.form-container button {
    width: 100%;
    padding: 12px;
    background-color: #502213;
    color: #f5f5dc;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #d1b28e;
    color: #502213;
    transform: scale(1.05);
}

.form-container p a {
    color: #502213;
    text-decoration: none;
    font-weight: bold;
}

.form-container p a:hover {
    text-decoration: underline;
}

/* Rodapé */

@font-face {
        
    font-family: 'Railey';
    src: url('fontes/railey.ttf.ttf') format('truetype'); /* Certifique-se de usar o nome correto */
}
@font-face {
    
    font-family: 'Playfair';
    src: url('fontes/Playfair.ttf') format('truetype'); /* Certifique-se de usar o nome correto */
}